
html {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: black;
}

body {
  height: 100vh;
  background-image: linear-gradient(to top left, #F9ED69 50%, #6A2C70 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  position: relative;
  width: 320px;
  height: 500px;
  background-color: white;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.calculator-screen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 20%;
}

.display {
  margin: 0 9.3%;
  font-family: inherit;
  font-size: 4rem;
  opacity: 0;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  height: 80%;
  padding: 3%;
}

.function-btns {
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.number-btns {
  grid-column: 1 / span 3;
  grid-row: 2 / span 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
}

.operation-btns {
  grid-row: 1 / span 5;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
}

.button {
  color: inherit;
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #F08A5D;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-clicked {
  box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.24);
}

.zero {
  grid-column: 1 / span 2;
  border-radius: 16px;
}

.number {
  background-color: #FCE38A;
}

.operation {
  background-color: #B83B5E;
  color: white;
}

.operation-clicked {
  background-color: rgba(184, 59, 94, 0.5);
  color: black;
}


 /* --------------- MEDIA QUERIES --------------- */

/* @media (max-width: 600px) {
  .calculator {
    width: 72vw;
    height: 83vh;
  }
  .display {
    margin: 0 10%;
  }
} */
